.navbar-brand{
    margin-left: 20px;
    font-size: 35px;
}

.navbar-nav{
    margin-left: auto;
}

.navbar-text{
    margin-right: 20px;
}
.dropstart{
    margin-right: 10px;
}

.dropdown-menu{
    top: 100% !important;
}
.usrname{
    text-decoration: none ;
}