.header{
display: flex;
justify-content: center;
align-items: center;
    width: 1000px;
    height: 150px;
    background-color: rgba(22, 18, 90, 0.623);
    margin-bottom: 20px;
}

.us{
    color: rgb(253, 252, 252);
    font-size: 55px;
    text-shadow: 2px 2px rgb(0, 0, 0);
}

.about{
    width: 700px;
}