.change {
    width: 700px;
    margin-right: 10px;
  }
  
  .change-card {
    padding: 30px;
    // margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    background-color: rgba(158, 149, 149, 0.719);
    border-radius: 12px;
    border: none;
  }
  .form-control {
    margin-bottom: 15px;
    font-weight: 400;
    border-radius: 6px;
  }
  .choose {
    width: 270px;
  }
  
  label {
    display: table-cell;
  }
  
  .form-label{
      font-weight: 600;
  }
  
  .submitbtn{
  
      width: 250px;
      height: 50px;
      border-radius: 12px;
      font-size: 18px;
  }