
.onlinecd{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(190, 190, 81, 0.61);
    border: none;
    padding: 15px;
    border-radius: 20px;
   
    margin-bottom: 70px;
}



