.onlineim{

width: 300px;
}

.onlinecd{
    
    background-color: rgba(190, 190, 81, 0.61);
    border: none;
    padding: 25px;
    
    margin: 50px;
}



// .clzcard{
//     height: 100px;
//     flex: 0 0 215px !important;
  
// }


// .d-flex{
//     flex: 50% !important;
// }

