.onlineim{

width: 300px;
}

.onlinecd{
    background-color: transparent;
    border: none;
    padding: 20px;
    margin: 50px;
}



.clzcard{
    height: 100px;
    flex: 0 0 215px !important;
  
}