.info-wrap{
    background-color: rgba(29, 28, 28, 0.548) !important;
    height: 480px ;
    color: seashell;
}

.contact{
    color: rgb(233, 211, 17);
    text-decoration: none ;
    font-size: 20px;
}

.dbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.txt{
    font-size: 25px;
}

.fico{
    margin-right: 12px;
    font-size: 40px;
}