.container-fluid{
    margin-top: 70px;
}

.carousel-inner  {
  border-radius: 12px;
}
hr{
   height: 5px;
}

.classbtn{
    width: 300px;
    height: 60px;
    margin: 20px;
    font-size: 20px;
    font-weight: 500;
}