.carousel-inner{
    height: 530px;
    margin: 0 auto;
}

.item, .d-block{
    position: absolute;

    top: 0;
    left: 0;
    min-height: 500px;
    border-radius: 8px;
    text-align: center;
    .d-block {
        margin: 0 auto;
        opacity: 0.5;
    }
}