.container-fluid{
    margin-top: 70px;
}

.carousel-inner  {
  border-radius: 12px;
}
hr{
   height: 5px;
}

.classbtn{
    width: 300px;
    height: 60px;
    margin: 20px;
    border-radius: 12px;
    font-size: 20px;
    font-weight: 500;
}

.classbtn-info:hover {
    color: #fff;
    background-color: #000;
    border-color: #269abc;
    }