.carousel-inner{
    height: 530px;
    margin: 0 auto;
    max-width: 100%;
}

.item, .d-block{
    position: absolute;

   
   
    max-width: 100%;
    border-radius: 8px;
    text-align: center;
  
}
hr{
   height: 5px;
}