.login-card{
    padding: 20px;
    border: none;
    border-radius: 15px;
    background-color: rgba(39, 39, 35, 0.562);
}

.loginbox{
    border-radius: 10px;
}

.loginstd{
    color: rgb(255, 255, 255);
}