.login-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border: none;
    border-radius: 15px;
    background-color: rgba(39, 39, 35, 0.562);
}

.loginbox{
    border-radius: 10px;
}

.loginstd{
    color: rgb(255, 255, 255);
    margin-bottom: 35px;
}
.loginimg{
    position: relative;
    left: -80px;
    width: 700px;
}
.loginimg2{
    position: absolute;
    
    width: 500px;
}