.signup{
    width: 600px;
}

.signup-card{
    padding: 30px;
    margin-top: 110px;
    margin-left: 20px;
    background-color: rgba(46, 43, 43, 0.637);
    border-radius: 12px;
}
.form-control{
    margin-bottom: 15px;
}
.choose{
    width: 200px;
}