.signup{
    width: 600px;
    margin-right: 30px;
}

.signup-card{
    padding: 30px;
    margin-top: 70px;
    margin-left: 20px;
    background-color: rgba(46, 43, 43, 0.637);
    border-radius: 12px;
}
.form-control{
    margin-bottom: 15px;
    font-weight: 400;
   
}
.choose{
    width: 270px;
}