.check{
   
 margin-left: 10px;
 font-size: 20px;
}

.player{

display: flex;
justify-content: center;
align-items: center;
}

.resource-card{
    background-color: rgba(0, 0, 0, 0.425);
    border: none;
    padding: 20px;
}